.DailyRewardsToolbar {
  margin-bottom: 4px;
}

.DailyRewardsToolbar .item-claimAll .Button {
  font-weight: 600;
}

@media (max-width: 767px) {
  .DailyRewardsToolbar .item-claimAll {
    width: 100%;
  }

  .DailyRewardsToolbar .item-claimAll .Button {
    width: 100%;
  }
}
